.container{
  margin: 0 auto;
  width: 90%;
  background-color: rgb(210, 209, 209);
  display: flex;
  justify-content: center;
  gap: 30%;
}
.card{
  height: 10rem;
  width: 100%;
  margin: 0 auto;
  cursor: pointer;
}
.addcard:active{
  background-color:lightgreen;
}
.addcard:hover{
  cursor: pointer;
}
.popup{
  height: 20rem;
  width:50%;
  margin: 0 auto;
  background-color: rgb(166, 184, 166);
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  position: absolute;
  top: 10rem;
  left: 25rem;
}
.lists{
  background: none;
  border: none;
  border-bottom: 2px solid grey;
  margin-bottom: 2rem;
}
.title{
  background: none;
  border: none;
  border-bottom: 2px solid grey;
  margin-bottom: 2rem;
}
.desc{
  background: none;
  border:none;
  border-bottom: 2px solid grey;
  
}